<div class='sorters row'>
    <div class="toggles col-md-5">
        <div class='btn-group' role='group'>
            <%= link_to 'Recent Post', update_home_path(filter: 'recent'), class: 'btn filterbtn btn-default selected', remote: true%>
            <%= link_to 'Selected Post', update_home_path(filter: 'filtered'), class: 'btn filterbtn btn-default', remote: true%>
            <% if logged_in? %><%= link_to 'My Setting', edit_user_path(current_user.id), class: 'btn filterbtn btn-default' %><% end %>
        </div>
    </div>
    <div class='searcher col-md-5'>
        <%= form_with(url: update_home_path, method: 'get', class:'form-horizontal post-form', remote: true) do |f| %>
            <div class="input-group">
                <%= f.text_field    :search, placeholder: 'Search', class: 'form-control' %>
                <%= hidden_field_tag :filter, 'search' %>
                <span class='input-group-btn'>
                    <%= button_tag fa_icon('search'), type: 'submit', class: 'btn btn-default' %>
                </span>
            </div>
        <% end %>
    </div>
    <div class='new-post col-md-2'>
        <% if logged_in? %><%= link_to 'New Post', new_post_path, class: 'btn btn-default' %>
        <% else %><%= link_to 'New Post', login_path, class: 'btn btn-default' %><% end %>
    </div>
</div>