<div class='sorters row'>
    <div class="toggles col-md-5">
        <div class='btn-group' role='group'>
            <%= link_to 'Recent Post', update_home_path(value: 'recent'), class: 'btn filterbtn btn-default selected', remote: true%>
            <%= link_to 'Selected Post', update_home_path(value: 'filtered'), class: 'btn filterbtn btn-default', remote: true%>
            <%= link_to 'My Setting', update_home_path(value: 'custom'), class: 'btn filterbtn btn-default', remote: true%>
        </div>
    </div>
    <div class='searcher col-md-5'>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class='input-group-btn'>
                <button type="button" class="btn btn-default"><%= fa_icon "search" %></button>
            </span>
        </div>
    </div>
    <div class='new-post col-md-2'>
        <%= link_to 'New Post', login_path, class: 'btn btn-default' %>
    </div>
</div>