<div class="jumbotron form">
    <h1>Login</h1>
    <div class="row">
        <div class='col-md-6 col-md-offset-3'>
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
                <div class="row">
                    <%= f.label         :email, 'Email', class: 'col-md-3' %>
                    <%= f.text_field    :email, placeholder: 'enter email', class: 'col-md-9' %>
                </div>
                <div class="row">
                    <%= f.label             :password, 'Pass', class: 'col-md-3' %>
                    <%= f.password_field    :password, placeholder: 'enter password', class: 'col-md-9' %>
                </div>
                <div class="row">
                    <%= f.submit "Submit", class: 'col-md-9 col-md-offset-3 btn btn-primary'%>
                </div>
            <% end %>
            <div class="row">
                <%= link_to "register", signup_path, class: 'col-md-offset-3' %>
            </div>
        </div>
    </div>
</div>
