<div class="col-md-2 settings-sidebar">
    <div class="row">
        <%= link_to fa_icon('user', text: 'My Profile'), @user %>
    </div>
    <div class="row">
        <%= link_to fa_icon('pencil', text: "My Posts"), '#' %>
    </div>
    <div class="row">
        <%= link_to fa_icon('comment', text: "My Comments"), '#' %>
    </div>
    <div class="row">
        <%= link_to fa_icon('reply', text: "Comments to me"), '#' %>
    </div>
    <div class="row">
        <%= link_to fa_icon('cog', text: "Settings"), '#' %>
    </div>
</div>