<div class="password">
    <div class="well well-sm">
        Change your password
    </div>
    <%= form_with(model: @user, class: 'form-horizontal', local: true) do |f| %>
        <div class="input-group">
            <%= f.label         :password, 'New', class: 'input-group-addon' %>
            <%= f.password_field    :password, class: 'form-control' %>
        </div>
        <div class="input-group">
            <%= f.label         :password_confirmation, 'Confirm', class: 'input-group-addon' %>
            <%= f.password_field    :password_confirmation, class: 'form-control' %>
        </div>
        <div class="input-group">
            <%= f.submit     "Submit", class: 'btn btn-lg btn-primary' %>
        </div>
    <% end %>
</div>