<header class='navbar navbar-default navbar-fixed-top'>
    <div class="container-fluid">
        <div class="navbar-header">
            <%= link_to "News+", root_path, class: 'navbar-brand' %>
        </div>
        <nav>
            <ul class='nav navbar-nav navbar-left'>
                <li class='active'><%= link_to 'Home', root_path %></li>
                <li class='dropdown'>
                    <a href='#' class='dropdown-toggle' data-toggle='dropdown'>News</a>
                    <ul class='dropdown-menu'>
                        <li><a href='#'>Item</a></li>
                        <li><a href='#'>Item</a></li>
                    </ul>
                </li>
                <li><% if logged_in? %><%= link_to current_user.username, '#' %><% end %></li>
            </ul>
            <ul class='nav navbar-nav navbar-right'>
                <% if logged_in? %>
                    <li class='dropdown'>
                        <a href='#' class='profile dropdown-toggle' data-toggle='dropdown'>
                            <%=  user_image(current_user, 44) %>
                        </a>
                        <ul class='dropdown-menu'>
                            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
                        </ul>
                    </li>
                <% else %>
                    <%= link_to default_image(44), login_path %>
                <% end %>
            </ul>
        </nav>
    </div>
</header>