<!DOCTYPE html>
<html>
  <head>
    <title>Rad20assign</title>
    <%= render 'layouts/tags' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="main container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>